{{#let @renderStrategy as |Mapper|}}
    <Mapper as |renderers|>
        {{#let (get renderers @schemaBlock.blockType) as |Renderer|}}
            {{#if this.isLabelBlock}}
            <Renderer @schemaBlock={{@schemaBlock}} @optionBlocks={{@optionBlocks}} @disabled={{this.disabled}} @shouldShowMessages={{this.shouldShowMessages}} @uniqueID={{@uniqueID}} @isRequired={{@isRequired}} @isFieldsetGroup={{@isFieldsetGroup}} @uiSubLabel={{@uiSubLabel}} />
            {{else}}
            <div style={{this.uiItemStyle}}>
                <Renderer @schemaBlock={{@schemaBlock}} @optionBlocks={{@optionBlocks}} @disabled={{this.disabled}} @shouldShowMessages={{this.shouldShowMessages}} @uniqueID={{@uniqueID}} @isRequired={{@isRequired}} @isFieldsetGroup={{@isFieldsetGroup}} @uiSubLabel={{@uiSubLabel}} />
            </div>
            {{/if}}
        {{/let}}
    </Mapper>
{{/let}}