<div hidden {{did-insert this.initialize}} {{did-update this.initialize @form}}></div>

{{#if this.hasFields}}
    {{#each this.visibleFields as |field|}}
        <GuidNode::Workflow::-Components::FlowableForm::Field
            @field={{field}}
            @fieldValues={{this.fieldValues}}
            @variables={{@variables}}
            @node={{@node}}
            @fieldHints={{@fieldHints}}
            @formContext={{this.formContext}}
            @fieldContext={{@fieldContext}}
            @onChange={{this.handleFieldChange}}
            @onLoadingChange={{this.handleFieldLoadingChange}}
            @onRegister={{this.registerField}}
            @onUnregister={{this.unregisterField}}
        />
    {{/each}}
{{/if}}
